<div class="AllUsersPage" >
    <div class="header">
        <div class="leftCol">
            <div class="logo">
                <img src="https://datingchile.cl/images/layouts/logo.svg" height="60px">
            </div>
            <div class="info">
                <p><a href="#">initiation</a></p>
                <p> <a href="#">Events</a></p>
                <p><a href="#">Blogs</a></p>
                <p><a href="#" class="white">Payment Center</a></p>
            </div>
        </div>
        <div class="rightCol">
            <div>Configuration</div>
            <div v-if="!isFetch">{{cu.firstName}}</div>
            <div v-if="!isFetch"><img width="50px" height="50px" :src="getProfilePicture()" @click="$router.push('/profile/' + cu.id)"></div>
        </div>
        <div v-if="!isFetch" :style="vis()">
            <a href="/settings" class="plus"></a>
        </div>
        <div class="logout">
            <button @click ="func()">Logout</button>
        </div>
    </div>

    <div class="mainContainer">
        <div v-if="isFetching">Loading...</div>
        <div v-if="!isFetching" class="main2">
            <div v-if="cu.id !== user.id" class="Profile" v-for="user in users"
                 :key="user.id"
                 @click="$router.push('/profile/' + user.id)">
                <user  :firstName = user.firstName
                       :age = user.age
                       :email = user.email
                       :userAvatar = user.profilePicture>
                </user>
            </div>
        </div>
    </div>
</div>

