.userProfile
  display: flex
  flex-direction: column
  justify-content: center
  background-color: #C6CCD7
  .header
    display: flex
    background-color: #319DD4
    color: white
    justify-content: space-evenly

    .leftCol
      display: flex


      .info
        display: flex
        align-items: center
        justify-content: center
        p
          display: flex
          align-items: center
          margin-left: 30px
          height: 100%
          text-align: center

          a
            text-decoration: none
            color: white
            font-family: "Monteserrat", sans-serif
            padding: 8px
          &:hover
            border-bottom: 6px solid white
        .white
          border: 3px solid white
          border-radius: 3px
      .logo
        img
          margin-right: 100px
    .rightCol
      display: flex
      align-items: center

    .logout
      display: flex
      align-items: center
      button
        background: #FF7C2E
        border: 2px solid wheat
        color: #319DD4
        border-radius: 6px
        &:hover
          background: indianred
          color: #10384D
          border: 2px solid #10384D
          cursor: pointer

      div
        margin-left: 10px

  .main
    display: flex
    justify-content: center
    background-color: white

    .photo
      max-width: 600px
      height: auto
      background-repeat: no-repeat
      background-size: cover
      flex: 1

    .buttons
      display: flex
      flex-direction: column

    .info1
      display: flex
      flex-direction: column
      margin: 20px
      font-family: "Monteserrat", sans-serif

      span
        font-size: 22px
        font-weight: bold
      h1
        margin-top: 40px
        margin-bottom: 40px
        font-weight: bold
        font-size: 22px
    table
      border: 1px solid #F0F0F0
      margin-top: 50px

      .col1
        background-color: #F0F0F0
      td
        padding: 20px
        border:  2px solid #F0F0F0
.albom
  display: flex
  justify-content: center
  .photoUser
    max-width: 600px
    justify-content: center
    img
      margin: 10px

.visitList
  background: #E4E7E9
  color: #319DD4
  text-align: center
