.formField
  height: 90px
  display: flex
  flex-direction: column


  input
    height: 30px
    margin: 10px
    border-radius: 3px
    border: 1px solid black
    font-size: 18px
    padding: 10px

  .label
    font-family: "Monteserrat", sans-serif
    color: white
    font-size: 13px
    font-weight: bold
    text-align: left
    margin-left: 10px
