<div class="main" v-if="!isFetch">
    <table v-if="cu.role === 2">
        <tr class="first">
            <td>Email</td>
            <td>Name user</td>
            <td>Ban</td>
            <td>Last update</td>
            <td>Role</td>
            <td>Ban</td>
            <td>Active</td>
        </tr>
        <tr v-if="user.role === 0 && cu.id !== user.id" style="background-color: #596377" v-for="user in users">
            <td>{{user.email}}</td>
            <td @click="$router.push('/profile/' + user.id)">{{user.firstName}}</td>
            <td v-if="user.isBaned !== cu.isBaned" style="background-color: red">{{user.isBaned}}</td>
            <td v-else style="background-color: #FF7C2E; color: #0b4576">{{user.isBaned}}</td>
            <td>{{user.updatedAt}}</td>
            <td>{{user.role}}</td>
            <td v-if="user.isBaned === cu.isBaned"><button class="btnBan" @click="banUser(user.id, user.isBaned, user.role)">Ban User</button></td>
            <td v-else><button class="btnBan" @click="banUser(user.id, user.isBaned, user.role)">Unban User</button></td>
            <td v-if="user.isActive === cu.isActive"><button class="btnBan" @click="deactiveUser(user.id, user.isActive, user.role)">Delete User</button></td>
            <td v-else style="color: red">User not active</td>
        </tr>
        <tr v-else style="background-color: green" >
            <td>{{user.email}}</td>
            <td @click="$router.push('/profile/' + user.id)">{{user.firstName}}</td>
            <td v-if="user.isBaned !== cu.isBaned" style="background-color: red">{{user.isBaned}}</td>
            <td v-else style="background-color: #FF7C2E; color: #0b4576">{{user.isBaned}}</td>
            <td>{{user.updatedAt}}</td>
            <td>{{user.role}}</td>
            <td v-if="user.isBaned === cu.isBaned"><button class="btnBan" @click="banUser(user.id, user.isBaned, user.role)">Ban User</button></td>
            <td v-if="user.isBaned !== cu.isBaned"><button class="btnBan" @click="banUser(user.id, user.isBaned, user.role)">Unban User</button></td>
            <td v-if="user.isActive === cu.isActive"><button class="btnBan" @click="deactiveUser(user.id, user.isActive, user.role)">Delete User</button></td>
            <td v-if="user.isActive !== cu.isActive" style="color: red">User not active</td>
        </tr>
    </table>
    <table v-else>
        <tr class="first">
            <td>Email</td>
            <td>Name user</td>
            <td>Ban</td>
            <td>Last update</td>
            <td>Role</td>
            <td>Activ</td>
        </tr>
        <tr v-if="user.role === 0 && cu.id !== user.id" style="background-color: #596377" v-for="user in users">
            <td>{{user.email}}</td>
            <td @click="$router.push('/profile/' + user.id)">{{user.firstName}}</td>
            <td v-if="user.isBaned !== cu.isBaned" style="background-color: red">{{user.isBaned}}</td>
            <td v-else style="background-color: #FF7C2E; color: #0b4576">{{user.isBaned}}</td>
            <td>{{user.updatedAt}}</td>
            <td>{{user.role}}</td>
            <td v-if="user.isBaned === cu.isBaned"><button class="btnBan" @click="banUser(user.id, user.isBaned, user.role)">Ban User</button></td>
            <td v-if="user.isBaned !== cu.isBaned"><button class="btnBan" @click="banUser(user.id, user.isBaned, user.role)">Unban User</button></td>
        </tr>
        <tr v-else style="background-color: green" >
            <td>{{user.email}}</td>
            <td @click="$router.push('/profile/' + user.id)">{{user.firstName}}</td>
            <td v-if="user.isBaned !== cu.isBaned" style="background-color: red">{{user.isBaned}}</td>
            <td v-else style="background-color: #FF7C2E; color: #0b4576">{{user.isBaned}}</td>
            <td>{{user.updatedAt}}</td>
            <td>{{user.role}}</td>
            <td v-if="user.isBaned === cu.isBaned"><button class="btnBan" @click="banUser(user.id, user.isBaned, user.role)">Ban User</button></td>
            <td v-if="user.isBaned !== cu.isBaned"><button class="btnBan" @click="banUser(user.id, user.isBaned, user.role)">Unban User</button></td>
        </tr>
    </table>
</div>
