.main
  display: flex
  flex: 1
  table
    border: 1px solid black
    width: 100%
    text-align: center
    tr,td
      border: 1px solid black
    .first
      font-family: "Monteserrat", sans-serif
      font-size: 24px
      font-weight: bold
      color: #C6CCD7
