.main
  display: flex
  flex-direction: column

  .profilePicture
      width: 150px
      height: 150px
      background-color: aqua


  .info
      background: greenyellow
      color: indianred
      width: 150px
